<div class="container">
    <h1>I'm Jordan Ward-Allen</h1>
    <div class="row">
        
        <div class="col-sm 8">
            <p>Some example text about how great Jordan is. Some example text about how great Jordan is. Some example text about how great Jordan is. Some example text about how great Jordan is.</p>
            <p>Some example text about how great Jordan is. Some example text about how great Jordan is. Some example text about how great Jordan is. Some example text about how great Jordan is.</p>
        </div>
        <img src="https://i.pinimg.com/originals/e4/26/c2/e426c2783655fe8cde1ad08ee411ddbe.png" width="500" height="500">

    </div>

</div>