   
<div class="container">
    <div class="d-flex justify-content-center">
        <div class="form-group">
        <form>
            <label>Sender: </label>
            <!-- <input type="text" class="form-control" placeholder="Enter Email:" [(ngModel)]="email" name="email"> -->
            <input type="text" class="form-control" placeholder="Enter name to appear on message as sender">
            <label>Message: </label>
            <!-- <input type="text" class="form-control" placeholder="Enter Password:"[(ngModel)]="pwd" name="pwd"> -->

            <br>
            <button>Login</button>
        </form>
        </div>
    </div>
</div>